# docker-composeのバージョン、最新は3
version: '3'
services:
  jupyterlab:
    # pipで何か追加したい場合などはDockerfileを書く。
    image: gboeing/osmnx:latest
    container_name: jupyter_osmnx
    user: root
    environment:
      NB_UID: 1000
      NB_GID: 100
      GRANT_SUDO: "yes"
    # コンテナの/jobyan/work以下をホストの./notebookにおいてデータ永続化する。
    volumes:
       - "./notebook:/home/jovyan/work"
       - "./data:/home/jovyan/data"
    privileged: true
    # (ホストポート:コンテナポート)
    ports:
      - "8888:8888"
    restart: unless-stopped
    # パスワード設定などとりあえずめんどくさいのでtokenを空にしてすぐ使えるようにする。
    # (起動テスト用なので実際にはパスワードなどを設定してください)
    #command: start.sh jupyter lab --NotebookApp.token=''
